.menu {
    grid-area: menu;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 16px;
    position: relative;
}

.searchSortBlock {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 16px;
}

.searchSortBlockNoGap {
    column-gap: 0;
}

.display {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: end;
    column-gap: 16px;
}

.buttonDisplay {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    background: var(--background-main);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s linear;
}

.buttonDisplay:hover {
    box-shadow: var(--box-shadow-button-hover);
}

.buttonDisplay:active {
    box-shadow: var(--box-shadow-button-active);
}

.buttonDisplayActive {
    border: none;
    background: var(--primary-background);
    box-shadow: var(--box-shadow-button);
}

.buttonHidden {
    display: none;
}

@media (max-width: 800px) {
    .menu {
        margin-bottom: 24px;
    }
}

@media (max-width: 370px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
    }

    .menuSearh {
        grid-template-columns: 1fr;
    }

    .buttonDisplay {
        height: 32px;
        width: 32px;
    }
}
