.search {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    column-gap: 6px;
    align-items: center;
}

.input {
    margin: 0;
    width: 350px;
    height: 38px;
    background-color: var(--background-main);
    box-shadow: none;
    border: 1px solid #e3e3e3;
    border-radius: 599px;
    padding-left: 40px;
    transition: all 0.2s linear;
}

.input:hover {
    box-shadow: var(--box-shadow-button-menu-hover);
}

.input:focus {
    outline: none;
    caret-color: #f83600;
}

.searchButton {
    display: none;
}

.searchButtonClose {
    background-color: inherit;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    display: none;
}

.searchButtonSend {
    position: absolute;
    left: 9px;
    width: 30px;
    height: 83%;
    cursor: pointer;
    border: 0;
    background-image: url(./assets/icon-search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--background-main);
}

.input:focus + .searchButtonSend {
    background-image: url(./assets/icon-search-color.svg);
}

@media (max-width: 1080px) {
    .input {
        width: 274px;
    }
}

@media (max-width: 1000px) {
    .input {
        width: 350px;
    }
}

@media (max-width: 800px) {
    .input {
        width: 274px;
    }
}

@media (max-width: 720px) {
    .input {
        width: 244px;
    }
}

@media (max-width: 550px) {
    .search {
        height: 38px;
        align-items: start;
    }

    .input {
        top: 0;
        left: 0;
        width: 88vw;
        height: 38px;
        background-image: none;
        position: absolute;
        display: none;
    }

    .searchButtonSend {
        top: 3px;
        display: none;
    }

    .searchButtonSendShow {
        display: block;
    }

    .elementShow {
        display: block;
        position: relative;
    }

    .searchButtonClose {
        position: absolute;
        display: block;
        right: 30px;
        top: 11px;
    }

    .searchButton {
        display: grid;
        width: 38px;
        height: 38px;
        justify-content: center;
        align-items: center;
        background-color: var(--background-main);
        box-shadow: var(--box-shadow-button);
        border: none;
        border-radius: 599px;
        grid-auto-flow: column;
        cursor: pointer;
        transition: all 0.2s linear;
    }

    .input:focus {
        border: 1px solid #e3e3e3;
        background-image: none;
    }
}

@media (max-width: 370px) {
    .input {
        width: 84vw;
        height: 32px;
    }

    .searchButton {
        width: 30px;
        height: 30px;
    }

    .searchButtonSend {
        left: 9px;
        width: 28px;
        height: 67%;
    }

    .searchButtonClose {
        top: 8px;
    }

    .noDisplayWhen370 {
        display: none;
    }
}

.buttonHidden {
    display: none;
}
