.root {
    position: relative;
    width: 137px;
    height: 38px;
}

.buttonSort {
    height: 100%;
    width: 100%;
    background-color: var(--background-main);
    box-shadow: none;
    border-radius: 20px;
    border: 1px solid #e3e3e3;
    padding: 0 16px;
    color: var(--subtitle);
    cursor: pointer;
    transition: box-shadow 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 8px;
}

.buttonSort:hover {
    box-shadow: var(--box-shadow-button-hover);
}

.buttonSort:active {
    box-shadow: var(--box-shadow-button-active);
}

.sortingMenu {
    position: absolute;
    z-index: 10;
    top: -1px;
    left: -2px;
    padding: 10px 18px;
    width: 139px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    transition: box-shadow 0.2s linear;
    box-shadow: 0px 1px 5px 0px rgba(191, 196, 201, 0.24), 0px 3px 4px 0px rgba(191, 196, 201, 0.18),
        0px 2px 4px 0px rgba(191, 196, 201, 0.2);

    &:hover {
        box-shadow: var(--box-shadow-button-hover);
        cursor: auto;
    }

    .displayWhen370 {
        display: none;
    }

    .sortingMenuHeader {
        margin-top: 1px;
        display: flex;
        gap: 0 8px;
        border: none;
        background-color: inherit;
        color: var(--subtitle);
        cursor: pointer;
    }

    .devider {
        width: 106%;
        border: none;
        height: 1px;
        background: #ebebeb;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
            display: flex;
            gap: 8px;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.2px;

            span {
                white-space: nowrap;
            }
        }

        .smallScreenDevider {
            display: none;
        }
    }
}

.buttonSortSmall {
    width: 38px;
    height: 38px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-main);
    box-shadow: var(--box-shadow-button);
    border: none;
    border-radius: 50%;
    color: var(--subtitle);
    cursor: pointer;
    transition: all 0.2s linear;
}

@media (max-width: 640px) {
    .root {
        width: 38px;
    }

    .buttonSort {
        display: none;
    }

    .buttonSortSmall {
        display: flex;
    }
}

@media (max-width: 370px) {
    .root {
        width: 30px;
        height: 30px;
    }

    .buttonSortSmall {
        width: 30px;
        height: 30px;
    }

    .sortingMenu {
        padding: 8px 16px;
        width: 288px;

        .sortingMenuHeader {
            justify-content: space-between;

            span {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }
        }

        .devider {
            margin-top: 4px;
            margin-bottom: 4px;
            width: 100%;
        }

        .noDisplayWhen370 {
            display: none;
        }

        .displayWhen370 {
            display: block;
        }

        ul {
            gap: 0px;

            a {
                padding: 4px 0px;
                justify-content: space-between;
                gap: 0px;
                color: #a7a7a7;
            }

            li:not(:last-child) .smallScreenDevider {
                display: block;
                margin-top: 4px;
                margin-bottom: 4px;
                border: none;
                height: 1px;
                background: #ebebeb;
            }
        }
    }
}
